<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    
  </startup>
  <appSettings>
    
    <!--数据库连接串-->
    <add key="Connstring" value="server=10.33.3.93;UId=root;PassWord=123456;Persist Security Info=True;database=AIScoreNTest;Charset=utf8;" />
    <!--<add key="Connstring" value="server=10.89.253.231;UId=root;PassWord=123456;Persist Security Info=True;database=AIScore;Charset=utf8;" />-->

  </appSettings>
</configuration>